header {
  border: 2px solid rgb(50,20,20);
  border-radius: 10px;
  background-color: rgb(20,20,20);
  color: white;
  text-align: center;
}

p {
  border: 2px solid rgb(50,20,20);
  border-radius: 10px;
  background-color: rgb(20,20,20);
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 0;
}

h2 {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

h3 {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.button {
  background-color: rgb(20,20,20)
