header{border: 2px solid rgb(50,20,20);border-radius: 10px; background-color:rgb(20,20,20);color:white;text-align:center;}
	p{border: 2px solid rgb(50,20,20);border-radius: 10px; background-color:rgb(20,20,20);color:white;text-align:center;}
	h1{text-align:center;}
	h2{color:white ;text-align:center;font:"Arial", sans-serif;}
	h3{color:white ;text-align:center;}
	td{a:center;border: 2px solid rgb(50,20,20);border-radius: 10px;background-color:rgb(20,20,20);color:white ;text-align:center;}
	table{text-align:center;color:white ;align:center;}
	body{background-color:rgb(10, 10, 10); }
