header{ background-color:rgb(20,20,20);color:white;text-align:center;}
	p{ background-color:rgb(20,20,20);color:white;text-align:center;}
	h1{align:center;}
	h2{color:white ;text-align:center;font:"Arial", sans-serif;}
	p{color:white ;text-align:center;}
	td{ background-color:rgb(20,20,20);color:white ;text-align:center;}
	table{color:white ;align:center;}
	body{background-color:rgb(10, 10, 10); }
